<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="container">
      <div class="index__title">
        Breast Cancer Predict using Random Forest Classifier machine learning
        model.
      </div>
      <div class="left_right">
        <div class="left">
          <div>
            <form
              class="predict-form"
              action="{{ url_for('index') }}"
              method="post"
            >
              <label for="Gender">Gender :</label><br />
              <select name="Gender" id="Gender" required>
                <option value="1">Male</option>
                <option value="0">Female</option>
              </select>
              <br />

              <label for="Married">Married :</label><br />
              <select name="Married" id="Married" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <br />

              <label for="Dependents">Dependents :</label><br />
              <select name="Dependents" id="Dependents" required>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
              </select>
              <br />

              <label for="Education">Education :</label><br />
              <select name="Education" id="Education" required>
                <option value="1">Graduate</option>
                <option value="0">Not Graduate</option>
              </select>
              <br />

              <label for="Self_Employed">Self Employed :</label><br />
              <select name="Self_Employed" id="Self_Employed" required>
                <option value="0">No</option>
                <option value="1">Yes</option>
              </select>
              <br />

              <label for="ApplicantIncome	">Applicant Income : </label><br />
              <input
                type="text"
                id="ApplicantIncome	"
                name="ApplicantIncome	"
                required
              /><br />

              <label for="CoapplicantIncome">Coapplicant Income : </label><br />
              <input
                type="text"
                id="CoapplicantIncome"
                name="CoapplicantIncome"
                required
              /><br />

              <label for="LoanAmount">Loan Amount : </label><br />
              <input
                type="text"
                id="LoanAmount"
                name="LoanAmount"
                required
              /><br />

              <label for="Loan_Amount_Term">Loan Amount Term : </label><br />
              <input
                type="text"
                id="Loan_Amount_Term"
                name="Loan_Amount_Term"
                required
              /><br />

              <label for="Credit_History">Credit History :</label><br />
              <select name="Credit_History" id="Credit_History" required>
                <option value="0">0</option>
                <option value="1">1</option>
              </select>
              <br />

              <label for="Property_Area">Property Area :</label><br />
              <select name="Property_Area" id="Property_Area" required>
                <option value="0">Rural</option>
                <option value="1">Semiurban</option>
                <option value="2">Urban</option>
              </select>
              <br />

              <br /><button class="predict_btn" type="submit" value="Submit">
                Predict
              </button>
            </form>
          </div>
          <h2>{{prediction}}</h2>
          <h3>{{description}}</h3>
        </div>
        <div class="right">
          Harith Fakhiri Setiawan - 13519161 <br />
          Fauzan Yubairi Indrayadi - 13519171 <br />
          Ibnu Syah Hafizh - 13519177 <br />
        </div>
      </div>
    </div>
  </body>
</html>
