<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/main.css')}}"
    />
    <title>Document</title>
  </head>
  <body>
    <div class="landing_screen">
      <div class="landing_container">

        <div class="landing_tag1">
          Malignant is a dangerous one.
        </div>
        <div class="landing_tag2">
          Do not let yourself get involved without you realizing!
        </div>
        <div class="btn_container">
          <button class="check_btn" role="button" onclick="location.href='{{ url_for('index') }}'">
            Check Your Status!
          </div>
        </div>
      </div>
      <!-- <div class="png_container">
        <img
          class="doc_png"
          src="{{ url_for('static', filename='img/doc.png')}}"
        />
      </div> -->
    </div>
  </body>
</html>
